/* src/admin/overrides.css */

/* Sidebar container (Strapi admin uses an aside for the main nav) */
/*aside[aria-label='Main navigation'] {*/
/*  width: 280px;*/
/*}*/

/*!* Nav links spacing *!*/
/*aside[aria-label='Main navigation'] a {*/
/*  padding: 10px 12px;*/
/*  border-radius: 10px;*/
/*}*/

/*!* Hover state *!*/
/*aside[aria-label='Main navigation'] a:hover {*/
/*  background-color: rgba(47, 111, 237, 0.12);*/
/*}*/

@media(min-width: 1080px) {
  html body div#strapi nav {
    width: 240px !important; /* Keep it expanded */
    /*align-items: start !important;*/
  }
}

a[href="/admin/content-manager"] {
  display: none;
}
a[href="/admin/plugins/cloud"] {
  display: none;
}
a[href="/admin/settings"] {
  display: none;
}